@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.rdp {
  --rdp-cell-size: 28px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
  width: 100%;
}

.reservation-picker {
  max-width: 100%;
}

.rdp-months {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: center;
  gap: 0.5rem !important;
}

.rdp-month {
  max-width: max-content;
}

.rdp-caption_label,
.rdp-dropdown {
  font-size: 0.85rem;
}

.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button,
.rdp-range_middle .rdp-day_button,
.rdp-selected .rdp-day_button {
  background-color: theme("colors.accent.500") !important;
  border-color: theme("colors.accent.500") !important;
  color: theme("colors.primary.900") !important;
}
